body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    z-index: 1;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
    animation: fadeIn 1s ease-in-out;
}

h1, h2 {
    color: black;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

header {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.nav-logo:hover {
    color: #04bf1d;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #04bf1d;
}

.btn {
    display: inline-block;
    background-color: #04bf1d;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    background-color: #04bf1d;
    transform: translateY(-2px);
}

footer {
    text-align: center;
    padding: 0.25rem;
    margin-top: auto;
    background-color: #014f0b;
    color: #ecf0f1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


@media (max-width: 768px) {
   
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

  
    .nav-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        padding-left: 0; 
    }

    .nav-menu li {
        width: 100%;
        text-align: center;
    }

   
    main {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0 0.5rem; 
    }
}
