h1, h2 {
	color: whitesmoke;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
}

article {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

article h3 {
    color: #333;
    margin-top: 0;
    margin-bottom: 10px;
}

article p {
    color: black;
    line-height: 1.6;
}

article a {
    text-decoration: none;
    color: #014f0b;
    transition: color 0.3s ease;
}

article a:hover {
    color: #04bf1d;
}

body {
    background-image: url('../images/blue_area.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
